@charset "UTF-8";

#homeContainer {
    background: #FAEBD7;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#homeContainer h3 {
	margin-left: 30px
}

.wrap {
	text-align: center;
}

.wrap div {
	/* 추가 */
	position: relative;
	float: left;
}



.wrap div {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	font-style: italic;
    font-weight: bold;
	display: block;
	margin : 30px;
	width: 180px;
	heigt: 50px
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

#homeContainer div.button {
	color: #8B4513;
	box-shadow: #8B4513 0 0px 0px 2px inset;
}

#homeContainer div.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: #8B4513 0 0px 0px 40px inset;
}

#homeContainer div.button2 {
	color: #8B4513;
	box-shadow: #8B4513 0 0px 0px 2px inset;
}

#homeContainer div.button2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: #8B4513 0 80px 0px 2px inset;
}

/* 로그인 and 회원가입 */
#userCont {
	margin-left : 30px;
}

#userCont button {
    font: inherit;
    background: none;
    color: inherit;
    border: solid 1px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding: 4px 12px;
    margin : 5px;
    outline: none;
}

#userCont button:hover {
	cursor: pointer;
}

#userCont input[type="text"], 
#userCont input[type="password"] { 
    margin : 5px;
	width: 30%; /* 원하는 너비 설정 */ 
	height: auto; /* 높이값 초기화 */ 
	line-height : normal; /* line-height 초기화 */ 
	padding: .5em .3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
	font-family: inherit; /* 폰트 상속 */ 
	border: 1px solid #999; 
	border-radius: 0; /* iSO 둥근모서리 제거 */ 
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
	-moz-appearance: none; 
	appearance: none; 
}

/* 메인 광고 */
#home_ad {
	display: block;
	margin : 30px;
}

/* home profile */
#profileCont {
	margin : 30px;
}

#profileCont .subCont {
	margin : 20px;
	float: left;
}

#profileCont .subCont div {
	margin : 5px;
}

#profileCont .subCont button {
    font: inherit;
    background: none;
    color: inherit;
    border: solid 1px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding: 4px 12px;
    margin-top: 20px;
    margin-right: 20px;
    outline: none;	
}

#profileCont .subCont button:hover {
	cursor: pointer;
}

/* 프로필 이미지 */
.circular--landscape {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #A9A9A9;
}

.circular--size40 {
	width: 40px;
	height: 40px;
}

.circular--size200 {
	width: 200px;
	height: 200px;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}

/**************** 모달창 [start] *******************/

.modal_wrap {
    display: none;
    width: 430px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 280px;
    background: #eee;
    z-index: 2;
    border-radius: 4px;
}
.black_bg {
    display: none;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}
#modalCont input[type="text"] {
    margin : 5px;
	width: 80%; /* 원하는 너비 설정 */ 
	height: auto; /* 높이값 초기화 */ 
	line-height : normal; /* line-height 초기화 */ 
	padding: .5em .3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
	font-family: inherit; /* 폰트 상속 */ 
	border: 1px solid #999; 
	border-radius: 0; /* iSO 둥근모서리 제거 */ 
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
	-moz-appearance: none; 
	appearance: none; 	
	position: relative;
    left: 9%;
}
#modalCont #modal_msg {
    color: gray;
    position: relative;
    left: 10%;
    margin-top: 30px;
    font-size: 20px;
}
#modalCont button {
    font: inherit;
    background: none;
    color: inherit;
    border: solid 1px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding: 4px 12px;
    margin-top: 2px;
    margin-right: 20px;
    outline: none;	
    width: 80%;	
    position: relative;
    left: 10%;
}
#modalCont #modal_exp {
	font-size: 11px;
    margin: 20px;
}
/**************** 모달창 [end] ************/







